.edit-button {
    width: 2.3rem;
    height:2.3rem;
    cursor: pointer;
}
.delete-button {
    width: 2.3rem;
    height:2.3rem;
    cursor: pointer;
}


.table-buttons {
    display: flex;

}

.container {
    margin: 20px auto;
    max-width: 600px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

tbody td {
    text-align: left;
    font-size: 14px;
    padding: 16px;
    max-width: 120px;
    overflow: hidden;
}
tbody td:last-child{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
thead td{
    padding: 15px;
    font-weight: bold;
    font-size: 14px;
}
thead td:last-child{
    display: flex;

    padding-left: 50px;
}


tr:hover {
    background-color: #F9F9F9;
}
tr:nth-child(even):hover{
    background-color: #F9F9F9;
}